* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 300px;
    height: 300px;
    padding: 4px;
}
button {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    height: 32px;
    border-bottom: 1px solid lightgray
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 32px);
}

h2 {
    margin: 0;
    padding: 6px;
    flex: 1;
    text-align: center;
    position: relative;
    left: 6px;
}

#party-icon {
    width: 88px;
    height: 88px;
}

#settings-icon {
    width: 18px;
    height: 18px;
    top: 9px;
    right: 36px;
    cursor: pointer;
    margin: 0 4px;
}

#home-icon {
    width: 30px;
    height: 18px;
    top: 9px;
    left: 4px;
    cursor: pointer;
    order: -1;
}

#logout-icon {
    cursor: pointer;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    margin: 0 4px;
}

.login-page {
    padding: 8px;
    margin: 8px 0px;
}

#login-button {
    width: 108px;
    height: 32px;
    background-color: #6a2aa5;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.home-page {
    text-align: center;
    display: none;
}

.party-page {
    display: none;
}

.settings-page {
    display: none;
    text-align: center;
}

[page="settings"] .settings-page {
    display: block;
}

[page='home'] .home-page {
    display: block;
}

[page='party'] .party-page {
    display: block;
}

[page='settings'] .settings-page {
    display: block;
}

button {
    padding: 3px;
    margin: 0px 4px;
}

#input__party-name {
    padding: 4px;
    margin: 8px auto;
    display: block;
}

[state='connected'] .logout {
    display: block;
}

.video-container {
    margin: 12px;
}

.controls {
    margin: 12px;
}