* {
    box-sizing: border-box;
}

body {
    width: 300px;
    height: 300px;
    padding: 4px;
}

[hide] {
    display: none;
}

[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

button {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #6a2aa5;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    font-size: 12px;
}

input {
    padding: 2px;
    margin: 0;
    border: 1px solid gray;
    border-radius: 6px;
    font: inherit;
    outline: none;
}

.header {
    display: flex;
    align-items: center;
    height: 32px;
    border-bottom: 1px solid lightgray
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 32px);
}

h2 {
    margin: 0;
    padding: 6px;
    flex: 1;
    text-align: center;
    position: relative;
    left: 6px;
    font-size: larger;
    font-weight: bolder;
}

#party-icon {
    width: 88px;
    height: 88px;
}