#login-button {
    width: 96px;
    height: 32px;
    display: block;
    margin-top: 16px;
    background-color: #6a2aa5;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.login-page {
    padding: 8px;
    margin: 8px 0px;
}

#logout-icon {
    cursor: pointer;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    margin: 0 4px;
}

[page='login'] .login-page {
    display: block;
}

[state='connected'] #logout-icon {
    display: block;
}